<footer class="page-footer black fixed-bottom">
  <div class="container py-2">
    <div class="d-flex align-items-center">
      <img class="img-fluid img-responsive" alt="Logo Inspira" style="max-width: 80px;" src="assets/img/logo-inspira.png"/>
      <img class="img-fluid img-responsive mx-3" alt="Logo Inspira" style="max-width: 80px;" src="assets/img/logo-claro-blanco.png"/>
      <h6 class="h6-responsive m-0 mt-2"> Todos los derechos reservados, Claro 2020</h6>
    </div>
  </div>
</footer>
