<div class="nav py-2">
  <div class="d-flex justify-content-between align-items-center col-md p-0">
    <a routerLink='' class="nav-link">
      <img class="img-fluid img-responsive" alt="Logo Inspira" style="max-width: 120px;"
        src="assets/img/logo-claro-grande.png" />
    </a>
    <a class="nav-link black-text font-weight-bold" routerLink='{{cerrarSesion}}'>
      <img class="img-fluid img-responsive" alt="Logo Inspira" style="max-width: 45px;"
        src="assets/img/cerrar-sesion.png" />
      Cerrar sesión
    </a>
  </div>
</div>
