<div class="text-center animated fadeIn">
  <h5 class="font-weight-bold">{{titulo}}</h5>
  <!-- <h6 class="h6-responsive">{{subtitulo}}</h6> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 p-0">
        <select class="custom-select custom-select-sm hoverable">
          <option selected>Mostrar</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-8 p-0">
        <div class="d-flex justify-content-end">
          <div class="md-form md-outline form-sm m-0 col">
            <input id="buscador-parametrizacion" class="form-control form-control-sm btn-outline-black" type="text">
            <label class="mx-4 black-text" style="background-color: #E6E6E6;" for="buscador-parametrizacion">
              Buscar
            </label>
          </div>
          <button class="btn btn-danger btn-sm m-0 mb-2">
            <i class="fas fa-search fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row overflow-auto px-1">
      <table class="col-12 table-hover table-sm rounded" border="1">
        <thead class="grey lighten-1">
          <tr>
            <th scope="col" class="font-weight-bold">ID</th>
            <th scope="col" class="font-weight-bold">Nombre parámetro</th>
            <th scope="col" class="font-weight-bold">Valor parámetro</th>
            <th scope="col" class="font-weight-bold">Valor adicional</th>
            <th scope="col" class="font-weight-bold">Descripción</th>
            <th scope="col" class="font-weight-bold">Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let par of parametrizaciones">
            <td>{{par.id}}</td>
            <td>{{par.nombre}}</td>
            <td>{{par.valorPar}}</td>
            <td>{{par.valorAdd}}</td>
            <td>{{par.descripcion}}</td>
            <td><a class="black-text"><i class="far fa-eye fa-lg"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
