<div class="modal fade" id="modal-confirmar-descarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="far fa-times-circle fa-lg danger-ic"></i>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="h5-responsive font-weight-bold mb-4">¿Está seguro de descargar el archivo llamado: {{archivo}}?</h5>
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-success">Aceptar</button>
          <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
